<a href="https://colab.research.google.com/github/ronaldbeja/Artificial-intelligence/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Librer√≠a Pandas

In [2]:
import pandas as pd

serie=pd.Series([1,2,3])

In [3]:
serie

0    1
1    2
2    3
dtype: int64

In [4]:
df=pd.DataFrame({'columna1':[1,2,3,4],'columna2':['a','b','c','d']})

In [5]:
df

   columna1 columna2
0         1        a
1         2        b
2         3        c
3         4        d

In [6]:
df.shape

(4, 2)

In [11]:
df=pd.read_csv('/content/iris.csv',header=None)

In [16]:
df.head(2)

              0            1             2            3        4
0  sepal.length  sepal.width  petal.length  petal.width  variety
1           5.1          3.5           1.4           .2   Setosa

In [17]:
df.tail(2)

       0    1    2    3          4
149  6.2  3.4  5.4  2.3  Virginica
150  5.9    3  5.1  1.8  Virginica

In [19]:
nombres=['longitud_sepalo','ancho_sepalo','longitud_petalo','ancho_petalo','clase']

In [20]:
df.columns=nombres

In [22]:
df.head()

  longitud_sepalo ancho_sepalo longitud_petalo ancho_petalo    clase
0    sepal.length  sepal.width    petal.length  petal.width  variety
1             5.1          3.5             1.4           .2   Setosa
2             4.9            3             1.4           .2   Setosa
3             4.7          3.2             1.3           .2   Setosa
4             4.6          3.1             1.5           .2   Setosa

In [23]:
df.index

RangeIndex(start=0, stop=151, step=1)

In [24]:
df.shape

(151, 5)

In [25]:
df.describe()

       longitud_sepalo ancho_sepalo longitud_petalo ancho_petalo   clase
count              151          151             151          151     151
unique              36           24              44           23       4
top                  5            3             1.5           .2  Setosa
freq                10           26              13           29      50

In [26]:
df['clase'].value_counts()

Setosa        50
Versicolor    50
Virginica     50
variety        1
Name: clase, dtype: int64

In [27]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
longitud_sepalo,sepal.length,5.1,4.9,4.7,4.6,5,5.4,4.6,5,4.4,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
ancho_sepalo,sepal.width,3.5,3,3.2,3.1,3.6,3.9,3.4,3.4,2.9,...,3.1,3.1,2.7,3.2,3.3,3,2.5,3,3.4,3
longitud_petalo,petal.length,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,...,5.6,5.1,5.1,5.9,5.7,5.2,5,5.2,5.4,5.1
ancho_petalo,petal.width,.2,.2,.2,.2,.2,.4,.3,.2,.2,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2,2.3,1.8
clase,variety,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,...,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica

In [28]:
df.sort_values('ancho_sepalo')#('colimna',ascending=false)

    longitud_sepalo ancho_sepalo longitud_petalo ancho_petalo       clase
61                5            2             3.5            1  Versicolor
69              6.2          2.2             4.5          1.5  Versicolor
63                6          2.2               4            1  Versicolor
120               6          2.2               5          1.5   Virginica
94                5          2.3             3.3            1  Versicolor
..              ...          ...             ...          ...         ...
15              5.8            4             1.2           .2      Setosa
33              5.2          4.1             1.5           .1      Setosa
34              5.5          4.2             1.4           .2      Setosa
16              5.7          4.4             1.5           .4      Setosa
0      sepal.length  sepal.width    petal.length  petal.width     variety

[151 rows x 5 columns]

In [30]:
df[['longitud_sepalo','longitud_petalo']]

    longitud_sepalo longitud_petalo
0      sepal.length    petal.length
1               5.1             1.4
2               4.9             1.4
3               4.7             1.3
4               4.6             1.5
..              ...             ...
146             6.7             5.2
147             6.3               5
148             6.5             5.2
149             6.2             5.4
150             5.9             5.1

[151 rows x 2 columns]

In [31]:
df[:3]

  longitud_sepalo ancho_sepalo longitud_petalo ancho_petalo    clase
0    sepal.length  sepal.width    petal.length  petal.width  variety
1             5.1          3.5             1.4           .2   Setosa
2             4.9            3             1.4           .2   Setosa

In [32]:
df.iloc[[4,10],[0,2]]

   longitud_sepalo longitud_petalo
4              4.6             1.5
10             4.9             1.5

In [ ]:
df[(df['longitud_petalo']>5)]

In [ ]:
df['longitud_sepalo']-df['longitud_petalo']

In [37]:
df.isna().sum()

longitud_sepalo    0
ancho_sepalo       0
longitud_petalo    0
ancho_petalo       0
clase              0
dtype: int64

In [38]:
import numpy as np

In [39]:
df['longitud_petalo'][:2]=np.nan

In [40]:
df.head()

  longitud_sepalo ancho_sepalo longitud_petalo ancho_petalo    clase
0    sepal.length  sepal.width             NaN  petal.width  variety
1             5.1          3.5             NaN           .2   Setosa
2             4.9            3             1.4           .2   Setosa
3             4.7          3.2             1.3           .2   Setosa
4             4.6          3.1             1.5           .2   Setosa

In [41]:
df.isna().sum()

longitud_sepalo    0
ancho_sepalo       0
longitud_petalo    2
ancho_petalo       0
clase              0
dtype: int64

In [42]:
df['longitud_petalo'].fillna(2)

0        2
1        2
2      1.4
3      1.3
4      1.5
      ...
146    5.2
147      5
148    5.2
149    5.4
150    5.1
Name: longitud_petalo, Length: 151, dtype: object

In [43]:
df['logintud_petalo']=df['longitud_petalo'].fillna(2)

In [ ]:
df['longitud_petalo'].mean()

In [ ]:
df['ancho_sepalo'].apply(lambda x: -x)

In [ ]:
df.groupby('clase')['ancho_petalo'].mean()

In [ ]:
df_join=df.join(df,on=['clase'],how='inner')

In [50]:
import matplotlib.pyplot as plt

In [1]:
df['longitud_petalo'].plot()

NameError: ignored